<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link href="/client/static/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="/client/static/css/vuetify.min.css" rel="stylesheet">

        <style res="stylesheet">
            .notifications {
                right: 0;
                left: 0;
                bottom: 0;
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                z-index: 10;
            }
            .notifications > div {
                width: 60%;
                max-width: 600px;
            }
        </style>

        <title>App</title>
    </head>

    <body>
        <div id="app" v-cloak>
            <v-app>
                <v-main>
                    <navbar></navbar>
                    <router-view></router-view>
                    <notifications></notifications>
                </v-main>
            </v-app>
        </div>

        <script src="/client/static/js/axios.min.js"></script>
        <script src="/client/static/js/vue.min.js"></script>
        <script src="/client/static/js/vuex.js"></script>
        <script src="/client/static/js/vue-router.js"></script>
        <script src="/client/static/js/vuetify.min.js"></script>

        <script src="/client/components/global/navbar.vue.js"></script>
        <script src="/client/components/global/notification.vue.js"></script>
        <script src="/client/components/global/notifications.vue.js"></script>

        <script src="/client/views/login.vue.js"></script>
        <script src="/client/views/home.vue.js"></script>

        <script type="module" src="/client/store/index.js"></script>
        <script type="module" src="/client/router/index.js"></script>
        <script type="module" src="/client/api/index.js"></script>
        <script type="module" src="/client/main.js"></script>
    </body>
</html>
